/* 

 Podstawowy opis sk³adni jêzyka CSS 

 do znaczników np. <body> w stylach odwo³ujemy siê pisz¹c 
	poprostu nazwê znacznika czyli np.: 
	
	body {
		background-color:#117EAE;
		font-size:12px;
		text-align:center;
	}
	
    do identyfikatorów takich jak np. <p id="jakasnazwa">tekst</p>
    owo³ujemy siê pisz¹c # i nazwê identyfikatora np:
	
	#jakasnazwa {
		margin:0 auto;
		text-align:left;
		width:930px;
	}

     do klas takich jak np. <p class="jakasnazwa">tekst</p>
     owo³ujemy siê pisz¹c . i nazwê identyfikatora np:

	.jakasnazwa {
		margin:0 auto;
		text-align:left;
		width:930px;
	}

      nie ma ¿adnej ró¿nicy w dzia³aniu pomiêdzy id i class. parametr class powinno siê jednak 
      stosowaæ gdy mamy na stronie wiele powtarzalnych elementów (np. miniatury w galerii) które 
      powinny wygl¹daæ tak samo. Id jest identyfikatorem i dana nazwa powinna wyst¹piæ tylko raz 
      w obrêbie danego dokumentu html.
      
      Dlaczego "KASKADOWE" arkusze styli? Poniewa¿ do danych elementów mo¿emy odwo³ywaæ siê niejako 
      "kaskadowo". Np jeœli mamy taki fragment html:
      
	<p id="jakasnazwa">
		<img class="obrazek" href="image.jpg />
	</p>
		<img class="obrazek" href="image.jpg />
		
      i chemy odwo³aæ siê TYLKO do obrazka znajduj¹cego siê w paragrafie o id="jakasnazwa" to napiszemy:
      
      #jakasnazwa .obrazek {
           margin: 10px;
      }
      
      drugi z obrazków pozostanie niesformatowany.
      
 */

body {
    background: #117EAE url("/obrazy/tlobg.gif") repeat-x;
    color: #555555;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin: 0;
}

p {
    padding-bottom: 2em;
    line-height: 1.2em;
}

h1 {
    color: red;
}

/* pod spodem dopisuj kolejne style.... Te ni¿ej maj¹ priorytet nad tymi powy¿ej. */

#tresc {
    background: url("/obrazy/white_wall.png");
}

#container {
    margin: 0 auto;
    text-align: left;
}

#naglowek {
    height: 65px;
    margin-bottom: 30px;
    margin-top: 10px;
    color: #f6f6f6;
}

#naglowek #logo {
    float: left;
    width: 240px;
}

#naglowek #links {
    float: left;
    width: 470px;
}

#naglowek #links ul li {
    display: inline;
}

#naglowek #links ul li img {
    margin: 0 10px;
}

#naglowek #search {
    float: right;
    width: 200px;
}

#lewakolumna {
    background-color: transparent;
    float: left;
    width: 240px;
}

#menu_container {
    background: url("/obrazy/tlobg.gif") no-repeat;
}

#menu {
    margin-left: 15px;
    margin-right: 10px;
    padding-top: 50px;
    padding-bottom: 25px;
}

#menu ul {
    list-style: none;
}

#menu a {
    background: transparent url("/obrazy/strzalka.gif") no-repeat scroll 0 10px;
    border-bottom: 1px dotted #AAAAAA;
    color: #4D4D4D;
    display: block;
    font-weight: bold;
    padding: 5px 3px 5px 16px;
    text-decoration: none;
}

#menu a:hover {
    color: #117EAE;
}

.foto {
    ​float: left;
}

#menu #podmenu a {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px dotted #AAAAAA;
    color: #415866;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-top: 2px;
    font-weight: normal;
}

#prawakolumna {
    float: right;
    width: 690px;
}

#prawakolumna #crunch {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

#prawakolumna #content {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px 20px 10px 10px;
}

#footer {
    margin-top: 10px;
    text-align: center;
    padding: 8px;
    background: url("/obrazy/white_wall.png");
}

#menu #active {
    color: red;
}

#menu #podmenu #active {
    color: red;
}

#menu #podmenu a:hover {
    color: #117EAE;
}

#headertable {
    margin-left: 20px;
    width: 450px;
}

#prawakolumna #crunch a {
    color: #4d4d4d;
    text-decoration: none;
}

#whitehouse {
    padding: 10px;
    border: 1px solid #dddddd;
    margin: 10px;
    background: white;
}